@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: rgb(226 232 240);
  background: url(/public/bg.jpg);
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow: hidden;
}

*::selection {
  background-color: rgb(13, 103, 117);
}

.hero-card {
  @apply flex flex-col rounded-lg border border-slate-500/50 bg-cyan-400/10 p-3 hover:shadow-cyan-500 transition-all duration-500 hover:border-cyan-400 hover:bg-cyan-400/30 hover:shadow-[0px_0px_30px_0px] lg:gap-2 lg:p-5;
}
